body {
    background-image: url('https://mir-cdn.behance.net/v1/rendition/project_modules/1400_opt_1/7c5d3797075575.5ebcba2b6e77e.jpg');
    background-size: outo 100vh;
    height: 100vh;
  }
  
  .menu {
    background-color: white; 
  }
  
  .menu ul{
    display:flex;
    justify-content: space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: 	teal;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .site-subtitle,
  .site-title{
    color:whitesmoke;
    text-align:center;
  }
  
  
  